<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{.HeaderCSS}}" />
    <link rel="stylesheet" href="{{.ProfileCSS}}" />
  </head>
  <body>
    {{template "header.html" .}}
    <div class="user-details">
      {{range .OnlineUsers}}
      <h1>{{.FirstName}} {{.LastName}}</h1>
      <p class="firstName"><strong>First Name:</strong> {{.FirstName}}</p>
      <p class="lastName"><strong>Last Name:</strong> {{.LastName}}</p>
      <p class="nickName"><strong>Nickname:</strong> {{.NickName}}</p>
      <p class="username"><strong>Username:</strong> {{.Username}}</p>
      <p class="age"><strong>Age:</strong> {{.Age}}</p>
      <p class="gender"><strong>Gender:</strong> {{.Gender}}</p>
      <p class="email"><strong>Email:</strong> {{.Email}}</p>
      <p class="join"><strong>Joined:</strong> {{.RegistrationDate}}</p>
      {{end}}
    </div>
    <a href="/dashboard">Back to Dashboard</a>
  </body>
</html>
