<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{.HeaderCSS}}">
</head>
<body>
    {{template "header.html" .}}
    <h1>Welcome, {{.Username}}</h1>
    <p>This is your profile page.</p>
    <a href="/dashboard">Back to Dashboard</a>
    <form action="/users/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
