<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="{{.CssRegisterPath}}" />
    <link rel="stylesheet" href="{{.LogoCSS}}" />
  </head>

  <body>
    <div class="register-container">
      <div class="registration-form">
        <!--        <h1>Sign Up</h1>-->
        <form action="/users/sign_up" method="POST">
          <label for="nickName">Nick Name:</label>
          <input type="text" id="nickName" name="nickName" required /><br />

          <label for="age">Age:</label>
          <input type="text" id="age" name="age" required /><br />

          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required /><br />

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required /><br />

          <label for="gender">Gender:</label>
          <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option></select
          ><br />

          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required /><br />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required /><br />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required /><br />

          <input type="submit" value="Sign Up" />
        </form>
        <p>Already registered? <a href="/users/login">Login here</a></p>
      </div>

      <div class="sign-up-cover-image">
      <div class="logo-container">
        <a href="{{.HomePath}}">
          <img src="{{.Logo}}" alt="Return to Home Page" class="logo" />
        </a>
      </div>
        {{/*
        <img
          src="{{.SignUpCoverImage}}"
          alt="sign up cover image"
          class="sign-up-cover"
        />
        */}}
      </div>
    </div>
  </body>
</html>
