<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{.CssRegisterPath}}">
    <link rel="stylesheet" href="{{.LogoCSS}}">
</head>

<body>
 <main>  
 <section>  
    <a href="{{.HomePath}}">
        <img src="{{.Logo}}"  alt="Return to Home Page" class="logo">
    </a>
 </section>   
<section>
 <div>
    <div class="register-container">
 <!--        <h1>Sign Up</h1>-->
<form action="/users/sign_up" method="POST">
    <label for="username">Username:</label>
    <input style=" padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;" type="text" id="username" name="username" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Sign Up">
</form>
    </div>
<p>Already registered? <a href="/users/login">Login here</a></p>
</div>
</section>
</main> 
</body>
</html>